name: Neovim Docker CI
run-name: Neovim Docker CI - ${{ github.event_name }}

on:
  push: {}
  pull_request:
    branches: ["master"]
  schedule:
    - cron: "0 1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag nvim-test

      - name: Run Neovim tests
        run: |
          docker run --name nvim-test --rm nvim-test
